<!-- the name of the directory should be templates itself, coz
in remder_template it is using that only -->
{% extends "layout.html" %}
<!-- extending the content block here i.e inheriting it
overrides the plain content block to render this -->
{% block content %}
        {% for element in grocery_list %}

        <p> item: {{ element.item }} </p> <!-- note how I'm able to use dot notation for accessing dict item -->
        <p>qty : {{ element.qty }} </p> <!-- double curly brackets for variables -->
        <p>price per unit : {{ element.per_unit }}</p>
        <p> item total : {{ element.total }}</p>
                <br> <br>
        {% endfor %}
{% endblock content %}
